@page
@using UzlezzBlogs.Pages.Shared
@using Hydro
@model IndexModel
@inject IMetaDescriptionBuilder DescriptionBuilder
@{
    ViewData["Title"] = $"Latest Posts | Page {Model.PageIndex}";
}

@section AdditionalMeta {
    <meta name="description" content="@ViewData["Title"]@DescriptionBuilder.BuildFromPostPreview(Model.Posts)" />
}

<div class="container py-5" style="max-width: 800px;">
    <h2 class="text-center">Recent posts</h2>
    @foreach (var post in Model.Posts)
    {
        <post-preview-card post="@post" />
    }

    <pagination
        page-index="@Model.PageIndex"
        total-pages="@Model.TotalPages"
        generate-url="@((page) => $"/?p={page}")" />
</div>