@page
@using System.Text
@using UzlezzBlogs.Pages.Shared
@using Hydro
@model IndexModel
@{
    ViewData["Title"] = $"Latest Posts | Page {Model.PageIndex}";

    var description = new StringBuilder();
    foreach (var post in Model.Posts)
    {
        description.Append(" | \"");
        if (post.Title.Length > 25)
            description.Append(post.Title.AsSpan().Slice(0, 25)).Append("...");
        else
            description.Append(post.Title);
        description.Append("\" by ").Append(post.User);
    }
}

@section AdditionalMeta {
    <meta name="description" content="Latest posts | Page @Model.PageIndex@description" />
}

<div class="container py-5" style="max-width: 800px;">
    <h2 class="text-center">Recent posts</h2>
    @foreach (var post in Model.Posts)
    {
        <div class="card mb-4 border-bottom shadow-sm rounded post-clickable"
             data-url="/post/@post.Url">

            <div class="card-body">
                <h2 class="card-title h4">@post.Title</h2>

                <p class="card-text mt-3 text-secondary">
                    @post.Description
                </p>

                <div class="d-flex justify-content-between text-muted small mt-4">
                    <div class="d-flex align-items-center">
                        <img src="/avatar/@post.User" alt="avatar"
                             class="rounded-circle me-2"
                             style="width: 32px; height: 32px; object-fit: cover;" />
                        <span>@(post.User ?? "[deleted]")</span>
                    </div>
                    <span class="utc-date-only" data-utc="@post.CreatedDate.ToString("o")"></span>
                </div>
            </div>
        </div>
    }

    <pagination
        page-index="@Model.PageIndex"
        total-pages="@Model.TotalPages"
        generate-url="@((page) => $"/?Page={page}")" />
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".post-clickable").forEach((el) => {
                el.addEventListener("click", () => {
                    const url = el.getAttribute("data-url");
                    if (url) window.location.href = url;
                });
            });
        });
    </script>
}
