@page
@using System.Text
@using UzlezzBlogs.Pages.Shared
@using Hydro
@model IndexModel
@{
    ViewData["Title"] = $"Latest Posts | Page {Model.PageIndex}";

    var description = new StringBuilder();
    foreach (var post in Model.Posts)
    {
        description.Append(" | \"");
        if (post.Title.Length > 25)
            description.Append(post.Title.AsSpan().Slice(0, 25)).Append("...");
        else
            description.Append(post.Title);
        description.Append("\" by ").Append(post.User);
    }
}

@section AdditionalMeta {
    <meta name="description" content="@ViewData["Title"]@description" />
}

<div class="container py-5" style="max-width: 800px;">
    <h2 class="text-center">Recent posts</h2>
    @foreach (var post in Model.Posts)
    {
        <post-preview-card post="@post" />
    }

    <pagination
        page-index="@Model.PageIndex"
        total-pages="@Model.TotalPages"
        generate-url="@((page) => $"/?Page={page}")" />
</div>