@page "{userName}"
@using UzlezzBlogs.Pages.Shared
@model UzlezzBlogs.Pages.ProfileModel
@{
    ViewData["Title"] = $"{Model.Profile.UserName} posts | page {Model.PageIndex}";

    var user = HttpContext.GetUser();
    bool isCurrentUser = user is not null && user.Name == @Model.Profile.UserName;
}

<div class="container py-5" style="max-width: 800px;">
    <div class="card shadow-sm mb-4">
        <div class="card-body text-center @Html.Raw(isCurrentUser ? "comment-avatar" : "")">
            <img src="/avatar/@Model.Profile.UserName"
                 class="rounded-circle mb-3"
                 style="width: 120px; height: 120px; object-fit: cover; border: 3px solid #dee2e6"/>

            <h3 class="card-title">@Model.Profile.UserName</h3>

            <div class="mt-3 text-start justified-content" style="white-space: normal;">
                @Html.Raw(Model.Profile.DescriptionHtml)
            </div>
        </div>
    </div>

    <h4 class="mb-3 text-center">Posts by @Model.Profile.UserName</h4>

    @foreach (var post in Model.Posts)
    {
        <div class="card mb-4 border-bottom shadow-sm rounded post-clickable"
             data-url="/post/@post.Url">

            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>

                <p class="card-text text-secondary">@post.Description</p>

                <div class="d-flex justify-content-between text-muted small mt-3">
                    <span class="utc-date-only" data-utc="@post.CreatedDate.ToString("o")"></span>
                </div>
            </div>
        </div>
    }

    <pagination
        page-index="@Model.PageIndex"
        total-pages="@Model.TotalPages"
        generate-url="@((page) => $"/profile/{Model.Profile.UserName}?Page={page}")" />
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".post-clickable").forEach((el) => {
                el.addEventListener("click", () => {
                    const url = el.getAttribute("data-url")
                    if (url) window.location.href = url
                })
            })
        })
    </script>
    @if (isCurrentUser)
    {
    <script>
        const el = document.querySelector(".comment-avatar")
        el.addEventListener("click", () =>
        {
            if (url) window.location.href = "/Me"
        })
    </script>
    }
}