@page
@inject IMetaDescriptionBuilder DescriptionBuilder
@model UzlezzBlogs.Pages.SearchModel
@{
    ViewData["Title"] = $"Search `{Model.Query}` | Page {Model.PageIndex}";
    ViewData["SearchQuery"] = Model.Query;
}

@section AdditionalMeta {
    <meta name="description" content="@ViewData["Title"]@DescriptionBuilder.BuildFromPostPreview(Model.Posts)" />
}

<div class="container py-5" style="max-width: 800px;">
    <h2 class="text-center">Search for "@Model.Query"</h2>
    @foreach (var post in Model.Posts)
    {
        <post-preview-card post="@post" />
    }

    <pagination page-index="@Model.PageIndex"
                total-pages="@Model.TotalPages"
                generate-url="@((page) => $"/?query={Model.Query}&page={page}")" />
</div>