@using UzlezzBlogs.Middleware
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="uzlezz,blogs,uzlezzblogs,blog,blogpost,post">
    <title>@ViewData["Title"] - UzlezzBlogs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/github-markdown-css/dist/css/github-markdown.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UzlezzBlogs.styles.css" asp-append-version="true" />

    <meta name="hydro-config" />
    <script defer src="~/hydro/hydro.js" asp-append-version="true"></script>
    <script defer src="~/hydro/alpine.js" asp-append-version="true"></script>

    @await RenderSectionAsync("AdditionalMeta", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index" hydro-link>Uzlezz[Blogs]</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Create" hydro-link>Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy" hydro-link>Privacy</a>
                        </li>
                    </ul>

                    <div class="mx-auto my-2 my-sm-0" style="width: 100%; max-width: 400px;">
                        <form class="d-flex" asp-page="/Search" method="get" onsubmit="searchPosts(event, this)">
                            <input class="form-control me-2 search-posts" type="search" value="@ViewData["SearchQuery"]" name="query" placeholder="Search posts..." aria-label="Search" />
                            <button class="btn btn-outline-primary" type="submit">
                                <i class="bi bi-search" style="color:currentColor;font-size:1.2rem"></i>
                            </button>
                        </form>
                    </div>

                    <ul class="navbar-nav ms-auto">
                        @if (!Context.IsAuthorized())
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login" asp-route-returnurl="@Context.Request.Path" hydro-link>Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Register" hydro-link>Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Me" hydro-link>
                                    <i class="bi bi-person-fill" style="color:currentColor;font-size:1.2rem"></i>
                                    @Context.GetUser()!.Name
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Logout" asp-route-returnurl="@Context.Request.Path">
                                    <i class="bi bi-door-open-fill" style="color:currentColor;font-size:1.2rem"></i>
                                    Logout
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center py-3">
            &copy; @DateTime.UtcNow.Year - UzlezzBlogs
            <span class="mx-3">|</span>
            <a asp-area="" asp-page="/Privacy" class="text-decoration-none" hydro-link>
                <i class="bi bi-shield"></i>
                Privacy
            </a>
            <span class="mx-3">|</span>
            <a href="https://github.com/uzlezz-soft/UzlezzBlogs" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                <i class="bi bi-github"></i>
                GitHub
            </a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>